<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="logo"><img src="fblob:https://web.whatsapp.com/50c2cc57-b99f-45c5-a395-651e62a168c8" alt=""></div>
    <div class="sign_in center">
        <a href="/sign" style="text-decoration: none;">
            <h1>Sign In</h1>
        </a>
    </div>
    <div class="log_in center">
        <a href="/log" style="text-decoration: none;">
            <h1>Log In</h1>
        </a>
    </div>

</body>

</html>