<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="logo"><img src="https://lh3.googleusercontent.com/pw/AIL4fc-Eqh5Q3WfUkPx0vWhgZh3KLuGnKELedMe1wcD7ZKjdMS3AXWGDfMudn5X3YDPJIRJeQ0Gu788B-Ov45U-0I1zr1d20-LyVgeXGZXrlZTCh-BzKfTbRVUmfZg4jCKZJ8jIQk52_1TgqmmTWolYS4wRihUbVu3Tv94I848HQf9jlozqDfUZXyPpn_9vlXeel25vurz1r5SmJUVazJXxr66unG6_gNER6VYa4f8yGL51yTRDEnZ0breAvBc_7aM8qVLGrOCv4qXwkor4l3Bfl0wUCvCOZOSzeTsW-LPkEN-oGDVUbB3Xj3evg8ozjZ4m-co6JYD1QwF_3USW9psaVcPxQqcbiZDry1B21NriE-UPVitbt_Kz_hCzha2YxJSwwlo-viWCBhNR4Ck7o8QbrHJQ0T30Arml3IhgkO3d--zfuXFE6lovIcSRBpwCwRER1rMLU_qJGBQ7brBVI2zncyKUJ0V6P4RSGQs_BO4Y8sskY3V9H40Qs5Ag1LNHMtZlXi8LpK7HGzfrryfziBIVk9tPp-KeZCD4VGYnXM6BBJiMpoUStyU668gM0jcV2OfvjbK5j2HGZztDPDsDsg7gjWjawaKnqhDhQo_LsXLHGI8iAfNWTru7Iu7L3Fuc6sK0jnMmnoC1fvqw5HAsb9WXQpJ3uVTqNm9M2p5-ki2sTpEvnykeBpOO8-zDEzEPyC_Fzj0_XLxKO7ZE7WzxpeL8BvQNRXQYnUp0YNFJe6OtplGK1zzTh6Us81YgOF8w9rqxzbz9cW8HlRlLhi8qZrbkN3LDOYePmc719atiSR2N091U1XzwKrpDEJqkZf8ht5IO_6aJ2Lb_y54kRAj_aaPwjVOnilEOnAbrHuor5KAUdYGGoDOic3f3ywL6LzFt8pfOBJdYN9p37w1k3drLDE77pigE=w500-h500-s-no?authuser=0" alt=""></div>
    <div class="sign_in center">
        <a href="/sign" style="text-decoration: none;">
            <h1>Sign In</h1>
        </a>
    </div>
    <div class="log_in center">
        <a href="/log" style="text-decoration: none;">
            <h1>Log In</h1>
        </a>
    </div>

</body>

</html>