<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="stylesign.css">
</head>

<body>
    <div class="back_btn">
        <a href="index.html"><b>BACK</b></a>
    </div>
    <div class="header">
        <h1>Log In</h1>
        <div class="main">
            <form action="">
                <input class="textsign" type="text" placeholder="REG NO.">
                <input class="textsign" type="password" placeholder="PASSWORD">
            </form>
            <button class="btn vertical-center"><a href="/home">Log In</a></button>
        </div>
    </div>
</body>

</html>