<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="stylesign.css">
</head>

<body>
    <div class="back_btn">
        <a href="/"><b>BACK</b></a>
    </div>
    <div class="header">
        <h1>Sign Up</h1>
        <div class="main">
            <form action="/vebuzz/home">
                <input class="textsign" type="text" placeholder="NAME">
                <input class="textsign" type="text" placeholder="EMAIL">
                <input class="textsign" type="password" placeholder="PASSWORD">
                <input class="textsign" type="text" placeholder="CONFIRM PASSWORD">
                <input class="textsign" type="text" placeholder="REG NO.">
                <input class="textsign" type="text" placeholder="YEAR">
                <button class="btn vertical-center"><a href="/home">Sign Up</a></button>
            </form>
        </div>
    </div>
</body>

</html>