<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="stylesign.css">
</head>

<body>
    <div class="back_btn">
        <a href="/"><b>BACK</b></a>
    </div>
    <div class="header">
        <h1>Sign Up</h1>
        <div class="main">
            <form action="/datasignin" method="post">
                <input class="textsign" type="text" placeholder="NAME" id="1" name="name" required>
                <input class="textsign" type="text" placeholder="EMAIL" id="2" name="email" required>
                <input class="textsign" type="password" placeholder="PASSWORD" id="3" name="password" required>
                <input class="textsign" type="password" placeholder="CONFIRM PASSWORD" id="4" name="password" required>
                <input class="textsign" type="text" placeholder="REG NO." id="regno" name="5" required>
                <input class="textsign" type="text" placeholder="YEAR" id="year" name="6" required>
                <button class="btn vertical-center"><a href="/log">Sign Up</a></button>
            </form>
        </div>
    </div>
</body>

</html>