.header {
    display: flex;
}

img {
    height: 50px;
    margin-right: 10px;
}

.username {
    color: orange;
}

.content {
    display: flexbox;
    justify-items: center;
}

.card {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}